# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [1]:
import numpy as np
import pandas as pd

labels=['Apples','Bananas']
index=['2017 sales','2018 sales']

In [16]:
df_1=pd.DataFrame([[30,21]],columns=labels)
print(df_1)
df_1

   Apples  Bananas
0      30       21

   Apples  Bananas
0      30       21

In [17]:
df_2=pd.DataFrame([[35,21],[41,34]],index=index,columns=labels)
print(df_2)
df_2

            Apples  Bananas
2017 sales      35       21
2018 sales      41       34

            Apples  Bananas
2017 sales      35       21
2018 sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [30]:
import numpy as np
import pandas as pd

data={'city':['Austin','Dallas','Austin','Dallas'],
      'visitor':[139,237,326,456],
      'weekday':['Sun','Sun','Mon','Mon']}

pdd = pd.DataFrame(data)

print('by Python:',data,sep='\n')
print()
print(pdd)
pdd

by Python:
{'city': ['Austin', 'Dallas', 'Austin', 'Dallas'], 'visitor': [139, 237, 326, 456], 'weekday': ['Sun', 'Sun', 'Mon', 'Mon']}

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [31]:
import numpy as np
import pandas as pd

data={'city':['Austin','Dallas','Austin','Dallas'],
      'visitor':[139,237,326,456],
      'weekday':['Sun','Sun','Mon','Mon']}

pdd = pd.DataFrame(data)


print('Sun: ', pdd[pdd['weekday'] == 'Sun']['visitor'].mean())
print('Mon: ', pdd[pdd['weekday'] == 'Mon']['visitor'].mean())

Sun:  188.0
Mon:  391.0