# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [12]:
import numpy as np
import pandas as pd

In [13]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
print(df)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [14]:
df1=df.copy()
print('計算每個不同種類 animal 的 age 的平均數')
print('cat:',df[df['animal']=='cat'].age.mean())
print('dog:',df[df['animal']=='dog'].age.mean())
print('snake:',df[df['animal']=='snake'].age.mean())
print()
print('將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序')
print('<依Age由大到小>\n',df.sort_values(by=['age']))
print('<依visits由大到小>\n',df.sort_values(by=['visits'],ascending=False))
print()
print('將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False')
df1['priority']=df1['priority'].str.replace('yes','True')
df1['priority']=df1['priority'].str.replace('no','False')
print(df1)

計算每個不同種類 animal 的 age 的平均數
cat: 2.5
dog: 5.0
snake: 2.5

將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
<依Age由大到小>
   animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
<依visits由大到小>
   animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no

將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
  animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False
f    cat  2.0       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [16]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.random(size=(5, 3)))
df1 = df.copy()
print(df)
df

          0         1         2
0  0.625842  0.873245  0.601711
1  0.224946  0.657475  0.492707
2  0.892581  0.585741  0.534959
3  0.536580  0.074798  0.777221
4  0.273757  0.838606  0.153351

          0         1         2
0  0.625842  0.873245  0.601711
1  0.224946  0.657475  0.492707
2  0.892581  0.585741  0.534959
3  0.536580  0.074798  0.777221
4  0.273757  0.838606  0.153351

In [21]:
#各欄位的平均數
cmean = df.mean(axis = 0)
print(cmean)

0    0.510741
1    0.605973
2    0.511990
dtype: float64

In [23]:
#將每個數字減去該欄位的平均數
dfc = df1-cmean
print(dfc)
dfc

          0         1         2
0  0.115101  0.267272  0.089721
1 -0.285795  0.051502 -0.019283
2  0.381839 -0.020232  0.022969
3  0.025839 -0.531175  0.265231
4 -0.236984  0.232633 -0.358639

          0         1         2
0  0.115101  0.267272  0.089721
1 -0.285795  0.051502 -0.019283
2  0.381839 -0.020232  0.022969
3  0.025839 -0.531175  0.265231
4 -0.236984  0.232633 -0.358639

In [34]:
#各筆資料平均數
imean = df.mean(axis = 1)
print(imean)

0    0.700266
1    0.458376
2    0.671094
3    0.462866
4    0.421904
dtype: float64

In [36]:
#將每個數字減去該筆資料平均數
dfi=df.apply(lambda i : i-imean)
print(dfi)
dfi

          0         1         2
0 -0.074424  0.172979 -0.098555
1 -0.233430  0.199099  0.034331
2  0.221487 -0.085353 -0.136134
3  0.073714 -0.388068  0.314355
4 -0.148148  0.416702 -0.268554

          0         1         2
0 -0.074424  0.172979 -0.098555
1 -0.233430  0.199099  0.034331
2  0.221487 -0.085353 -0.136134
3  0.073714 -0.388068  0.314355
4 -0.148148  0.416702 -0.268554

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [37]:
print(df1)
df1

          0         1         2
0  0.625842  0.873245  0.601711
1  0.224946  0.657475  0.492707
2  0.892581  0.585741  0.534959
3  0.536580  0.074798  0.777221
4  0.273757  0.838606  0.153351

          0         1         2
0  0.625842  0.873245  0.601711
1  0.224946  0.657475  0.492707
2  0.892581  0.585741  0.534959
3  0.536580  0.074798  0.777221
4  0.273757  0.838606  0.153351

In [38]:
#哪一筆的資料總合最小
minsum = df.sum(axis=0).argmin()
print('資料總合最小:',minsum)

資料總合最小: 0

In [39]:
#哪一欄位的資料總合最小
minsum = df.sum(axis=1).argmin()
print('資料總合最小:',minsum)

資料總合最小: 4